.nav{
    position: absolute;
background-color: rgb(182, 148, 204);
height: 50px;
top: 0px;
left: 0px;
right: 0px;
border-style: inset;
}

.logo{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: blanchedalmond;
font-size: 24px;
font-weight:bold;
font-style: italic;
margin-left: 20px;
margin-top: 10px;

}


.menu{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight:bold;
    font-style: italic;
    position: relative;
    top: -80px;
    text-align: right;
    float: right;
    padding: 15px;
    }
.menu:hover{
    background-color: rgb(165, 89, 236);
}

.img1{
    display: block;
    margin-right: auto;
    margin-left:auto;
    margin-top: 200px;
    }
