.nav{
    position: absolute;
background-color: rgb(182, 148, 204);
height: 50px;
top: 0px;
left: 0px;
right: 0px;
border-style: inset;
}

.nome{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: blanchedalmond;
font-size: 24px;
font-weight:bold;
font-style: italic;
margin-left: 20px;
margin-top: 10px;

}


.tzu{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight:bold;
    font-style: italic;
    margin-left: 20px;
    margin-top: 10px;
    
    }

    .voltar{border-style: inset;
        text-align: center;
        margin-top: 900px;}