.p1{text-align: justify;
color: rgb(104, 89, 67);
background-color: rgb(255, 0, 0);
}


.img1{
display: block;
margin-right: auto;
margin-left:auto;
}

.plus{
  
        text-align: center;}
  
.voltar{border-style: inset;
        text-align: center;
        margin-top: 300px;

}        